@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: rgba(1, 120, 170, 1);
  background: linear-gradient(100%, rgba(1, 120, 170, 1), rgba(1, 154, 255, 1));
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  width: 800px;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito", sans-serif;
}
h1 {
  color: white;
  font-size: 60px;
  padding: 50px 0px 0px 10px;
}
form {
  display: flex;
  background-color: white;
  margin: 25px 0px 50px 0px;
  width: 500px;
  height: 80px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
}
.list {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
}
.taskItem {
  display: flex;
  justify-content: space-between;
  width: 500px;
  background: white;
  padding: 15px 0px 15px 15px;
  border-radius: 5px;

  strong {
    overflow: hidden;
    width: 350px;
  }
}
.taskItem_content {
  font-size: 30px;
  margin: 0px 15px;
  background: white;
  color: gray;
  display: flex;
  align-items: center;
}
